body {
  background: #041B41;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  margin: 0 auto;
}

h2 {
  margin: 18% 0 0 31%;
}

#content {
  margin-left: 10%;
}

#caseNo {
  margin: 1.5% 0 0 29%;
  font-size: 150%;
  width: 38%;
}

#submitButton {
  margin: 3.5% 0 5% 29%;
  width: 40%;
  padding: 1.5% 0 1.5% 0;
}

#titleCell{
  width: 10%;
}

#navBack {
  font-size: 150%;
  border: solid 1px black;
  padding: 0 2% 0 2%;
  display: inline-block;
  position: relative;
}

#contentContainer {
  background: white;
  position: absolute;
  width: 500px;
  margin: 4% 0 0 29%;
  padding: 2% 4% 2% 4%
}

#caseTitle {
  margin-left: 7%;
  text-align: center;
  display: inline-block;
}

#submitContainer {
  background: white;
  position: absolute;
  margin: 4% 0 0 30%;
  padding: 2% 4% 2% 4%
}

#caseStatus{
  background-color: #D5D9FF;
  text-align: center;
}
#notesHeading {
  margin: 7.5% 0 2.5% 40%;
}

#caseNotes {
  margin: 0 0 0 13.5%;
  width: 75%;
  height: 150px;
}

#close {
	margin: 7.5% 0 5% 30%;
	width: 40%;
	height: 40px;
}

#addCase {
	margin: 7.5% 0 5% 30%;
	width: 40%;
	height: 40px;
}

#important {
	background-color: #FF9C9C;
}

#evidenceTable {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

#evidenceTableJava {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

#evidenceContainer {
  background: white;
  position: absolute;
  margin: 4% 0 0 22%;
  width: 700px;
  padding: 2% 4% 2% 4%
}

.evidenceRow {
	border: 1px solid black;
}

.evidenceColumn {
	border: 1px solid black;
}


.viewFields {
  margin: 3% 0 0 16.5%;
  font-size: 150%;
  width: 80%;
  text-align: center;
}

#caseEntry {
	margin: 0 auto;
}

.viewFieldsE {
  margin: 3% 0 0 5%;
  font-size: 150%;
  width: 80%;
}

#evidenceEntry {
  margin: 0 auto;
}

#evidenceTitle {
  text-align: center;
  display: inline-block;
  margin-left: 12%;
}

textarea {
	resize: none;
}

.evidence {
  background-color: #E2E2E2;
  padding: .5% 2% .5% 2%;
  border: solid black 1.5px;
  overflow: hidden;
}

#evidenceLinksTitle {
	text-align:center;
	margin: 0 auto;
	padding-bottom: 2%;
}

.evidenceTitle {
	display:inline-block;

}

.eLink {
  float: right;
  margin-top: 2%;
  text-align: center;
  font-size: 200%;

}

#raw {
	display: inline-block;
	font-size: 150%;
	padding-right: 2.25%;
	padding-left: 2.50%;
}

#evidence {
	display: inline-block;
	width: 70%;
}
